.post {
    margin-left: -90px;
    margin-bottom: 25px;

}
#myModal{
    width :700px ;
    height :900px ;
    margin-left: 760px;
    overflow: hidden;
}
.titleinp{

margin-left: -90px;
//margin-right: 100px;
margin-bottom: 20px;

    
}
.l2{
  margin-left: 20px; 
  margin-bottom: 20px; 
}
.Manager {
    margin-left: -90px;
}
select {
    height: 41px;
    margin-bottom: 20px;
    width : 290px;
    margin-left: 89px;
    border-color :rgb(240, 240, 240) ;
    border-radius: 5px;
    background: rgba(244, 243, 243, 0.527) ;

}
.interview {
    height: 10px;
    margin-bottom: 50px;
    width : 320px;

}
.eventstarttitle {
    margin-left: -90px;
    margin-top: 20px;
}
.l1{
    margin-left: 20px;
    margin-top: 20px;

}
button {
    margin-top: 38px;
}
.l3{
    margin-left: 20px;
    margin-bottom: 20px;
}
h4 {
    font-size: 25px;

}
button {
    border-radius: 6px;
    margin-top: 3px;
}

  